.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    height: 4px;
    width: 70px;
    background-color: white;
    border-radius: 4px;
  }
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #f9ba4f;
  }